<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>Flash Sale Event</title>
  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-getOrderInfo.css" />
</head>

<body>
  <!--head-->


  <div id="nav-bottom">

    <div class="nav-top">
      <div class="top">
        <div class="py-container">
          <div class="shortcut">
            <ul class="fl">
              <li class="f-item"></li>
              <li class="f-item"><a href="login.html" target="_blank">Login</a>　<span><a href="register.html"
                    target="_blank">Register</a></span></li>
            </ul>
            <div class="fr typelist">
              <ul class="types">
                <li class="f-item"><span>My Order</span></li>

                <li class="f-item"><span><a href="cart.html" target="_blank">My Cart</a></span></li>
                <li class="f-item"><span>Business Purchase</span></li>


              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="header">
        <div class="py-container">
          <div class="yui3-g Logo">
            <div class="yui3-u Left logoArea">
              <a class="logo-bd" title="Lime" href="index.html" target="_blank"></a>
            </div>
            <div class="yui3-u Rit searchArea">
              <div class="search">
                <form action="" class="sui-form form-inline">
                  <!--searchAutoComplete-->
                  <div class="input-append">
                    <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                    <button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="cart py-container" id="cart">
    <div class="checkout py-container">
      <div class="checkout-tit">
        <h4 class="tit-txt">Add Flash Sale Event</h4>
      </div>
      <div class="checkout-steps">
        <div class="hr"></div>
        <div class="payshipInfo">
          <div class="hr"></div>
          <div class="step-cont">
            <ul class="send-detail">
              <style>
                .dialog-card {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                }

                .dialog-card>p {
                  display: flex;
                  flex-direction: row;
                  min-width: 10rem;
                }

                .dialog-card>p>span {
                  flex-grow: 1;
                  text-align: center;
                }
              </style>
              <div class="dialog-card">
                <h1>Add Flash Sale Event Successfully</h1>
                <p>Activity Name<span th:text="${flashsaleActivity.name}"></span></p>
                <p>Product Origin Price<span th:text="${flashsaleActivity.oldPrice}"></span></p>
                <p>Current Price<span th:text="${flashsaleActivity.flashsalePrice}"></span></p>
                <p>Number<span th:text="${flashsaleActivity.availableStock}"></span></p>
              </div>
            </ul>
          </div>
          <div class="hr"></div>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>

  <script src="/js/vue.js"></script>
  <script src="/js/axios.js"></script>
</body>

</html>
