<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>Product Info</title>
  <link rel="icon" href="/img/jiuzhanglogo.png">

  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-flashsale-item.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-zoom.css" />
</head>

<body>
  <div id="nav-bottom">
    <div class="nav-top">
      <div class="top">
        <div class="py-container">
          <div class="shortcut">
            <ul class="fl">
              <li class="f-item">Weclome</li>
              <li class="f-item"><a href="login.html" target="_blank">Login</a>　<span><a href="register.html"
                    target="_blank">Register</a></span></li>
            </ul>
            <div class="fr typelist">
              <ul class="types">
                <li class="f-item"><span>My Order</span></li>

                <li class="f-item"><span><a href="cart.html" target="_blank">My Cart</a></span></li>
                <li class="f-item"><span><a href="home.html" target="_blank">Home</a></span></li>
                <li class="f-item"><span><a href="cooperation.html" target="_blank">Cooperation</a></span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>


      <div class="header">
        <div class="py-container">
          <div class="yui3-g Logo">
            <div class="yui3-u Left logoArea">
              <a class="logo-bd" title="九章" href="index.html" target="_blank"></a>
            </div>
            <div class="yui3-u Rit searchArea">
              <div class="search">
                <form action="" class="sui-form form-inline">
                  <!--searchAutoComplete-->
                  <div class="input-append">
                    <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                    <button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="py-container">
    <div id="item">
      <div class="crumb-wrap">
        <ul class="sui-breadcrumb">
          <li>
            <a href="#">Phones</a>
          </li>
          <li>
            <a href="#">Phones</a>
          </li>
          <li>
            <a href="#">Apple</a>
          </li>
          <li class="active">iphone 13</li>
        </ul>
      </div>
      <!--product-info-->
      <div class="product-info">
        <div class="fl preview-wrap">

          <div class="zoom">

            <div id="preview" class="spec-preview">
              <span class="jqzoom"><img jqimg="/img/_/b1.png" src="/img/_/s1.png" /></span>
            </div>

            <div class="spec-scroll">
              <a class="prev">&lt;</a>

              <div class="items">
                <ul>
                  <li><img src="/img/_/s1.png" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s1.png" bimg="../img/_/b1.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s1.png" bimg="../img/_/b1.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                </ul>
              </div>
              <a class="next">&gt;</a>
            </div>
          </div>
          <div class="product-collect">
            <a href="javascript:;" id="star"><img src="/img/_/shi_heart.png" alt=""> Folder</a>
          </div>
        </div>
        <div class="toolbar-mini"></div>

      </div>

      <div id="J-toolbar-load-hook"></div>

    </div>
  </div>




</body>

</html>
