<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>产品详情页</title>
  <link rel="icon" href="/img/jiuzhanglogo.png">

  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-flashsale-item.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-zoom.css" />
</head>

<body>
  <!-- 头部栏位 -->
  <!--页面顶部-->
  <div id="nav-bottom">
    <!--顶部-->
    <div class="nav-top">
      <div class="top">
        <div class="py-container">
          <div class="shortcut">
            <ul class="fl">
              <li class="f-item">Weclome</li>
              <li class="f-item"><a href="login.html" target="_blank">Login</a>　<span><a href="register.html"
                    target="_blank">Register</a></span></li>
            </ul>
            <div class="fr typelist">
              <ul class="types">
                <li class="f-item"><span>My Order</span></li>

                <li class="f-item"><span><a href="cart.html" target="_blank">My Cart</a></span></li>
                <li class="f-item"><span><a href="cooperation.html" target="_blank">Cooperation</a></span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="header">
        <div class="py-container">
          <div class="yui3-g Logo">
            <div class="yui3-u Left logoArea">
              <a class="logo-bd" title="" href="index.html" target="_blank"></a>
            </div>
            <div class="yui3-u Rit searchArea">
              <div class="search">
                <form action="" class="sui-form form-inline">
                  <!--searchAutoComplete-->
                  <div class="input-append">
                    <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                    <button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

        <div class="toolbar-mini"></div>

      </div>

      <div id="J-toolbar-load-hook"></div>

    </div>
  </div>




</body>

</html>
